{% extends 'mainpage/index.html' %}

{% load static %}
{% block head_body %}
    
    <!--Block head list-->
    {% block head_list %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="card {{ dshboard.card }}">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
            <div class="card-tools">
                <small>Su último acceso al sistema fue el {{ request.user.last_login }}</small>
            </div>
        </div>
        <div class="card-body" style="display: block;">
            <div class="container-fluid">
                
                <!--Block content list-->
                {% block content_list %}
                    <!--Block content list before-->
                    {% block content_list_before %}
                        <br>
                    {% endblock %}
                    <!--Table-->      
                    <div class="embed-responsive embed-responsive-16by9">>
                        <iframe src="https://www.digipuzzle.net/kids/cartoons/puzzles/connectpieces_senses_es.htm?language=spanish"
                        frameborder="0"
                        volume="0"
                        class="embed-responsive-item"
                        allowfullscreen class="posGame"></iframe>
                    </div>
                {% endblock %}
            </div>
        </div>
        <!--Block box footer-->
        {% block box_footer %}
           
        {% endblock %}
        <!--Block box footer after-->
        {% block box_footer_after %}{% endblock %}
    </div>
    {% block javascript_list %}
        <script type="application/javascript">
           
        </script>
    {% endblock %}
{% include 'mainpage/footer.html' %}

{% endblock %}
