{% extends 'skin.html' %}
{% load static %}

{% block head_body %}

    <link rel="stylesheet" href="{% static 'lib/formvalidation-1.8.0/css/formValidation.min.css' %}">
    <script src="{% static 'lib/formvalidation-1.8.0/js/es6-shim.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/plugins/Bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/formvalidation-1.8.0/js/locales/es_ES.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}"/>
{#    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/jquery.dataTables.min.css' %}"/>#}
    <script src="{% static 'lib/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>
    

    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">

    <script src="{% static 'matricula/js/form.js' %}"></script>
    <script src="{% static 'matricula/js/post.js' %}"></script>
    <script src="{% static 'matricula/js/asistencia.js' %}"></script>




    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.css' %}"/>

    <style>
          .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }

    .modal-content-full-width  {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color: #ececec !important 
    }

    .modal-header-full-width  {
        border-bottom: 1px solid #9ea2a2 !important;
    }

    .modal-footer-full-width  {
        border-top: 1px solid #9ea2a2 !important;
    }
    </style>

    <!--Block head list-->
    {% block head_list %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="card {{ dshboard.card }}">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
            <div class="card-tools">
                <small>Su último acceso al sistema fue el {{ request.user.last_login }}</small>
            </div>
        </div>
        <div class="card-body" style="display: block;">
            <div class="container-fluid">
                <!--Block content list-->
                <div class="small-box bg-info">
                    <div class="inner">
                        <span class="info-box-text text-center" > <h1>{{ curso.asignatura | upper }}</h1></span>
                        <span class="info-box-number"> <h3> NIVEL: {{ curso.nivel | upper }} </h3></span>
                        <span class="info-box-number"> <h4> PROFESOR: {{ curso.profesor | upper }} </h4></span>

                    </div>
                    <div class="icon">
                      <i class="fa fa-book"></i>
                    </div>
                    
                  </div>
                        <!-- /.info-box-content -->
                      </div>
                      <section class="content">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-3">
                  
                              <!-- Profile Image -->
                              <div class="card card-primary card-outline">
                                <div class="card-body box-profile">
                                  <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle" src="{{ info.icon_image.url }}" alt="Icono">
                                  </div>
                  
                                  <h3 class="profile-username text-center">{{info.name}}</h3>
                  
                                  <p class="text-muted text-center">ESCUELA</p>
                  
                                  <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                      <b>Email: </b> <a class="float-right"> {{info.email}} </a>
                                    </li>
                                    <li class="list-group-item">
                                      <b>Teléfono: </b> <a class="float-right"> {{info.mobile}} </a>
                                    </li>
                                  </ul>
                  
                                </div>
                                <!-- /.card-body -->
                              </div>
                              <!-- /.card -->
                  
                              <!-- About Me Box -->
                              <div class="card card-primary">
                                <div class="card-header">
                                  <h3 class="card-title">Nosotros</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                  <strong><i class="fas fa-book mr-1"></i> Educación</strong>
                  
                                  <p class="text-muted">
                                    {{info.desc}}
                                  </p>
                  
                                  <hr>
                  
                                  <strong><i class="fas fa-map-marker-alt mr-1"></i> Ubicación </strong>
                  
                                  <p class="text-muted">{{ info.address }}</p>
                  
                                  <hr>
                                  <hr>
                  
                                  <strong><i class="far fa-file-alt mr-1"></i> Misión y Visión</strong>
                  
                                  <p class="text-muted text-justify"> {{info.mission}} </p>
                                </div>
                                <!-- /.card-body -->
                              </div>
                              <!-- /.card -->
                            </div>
                            <!-- /.col -->
                            <div class="col-md-9">
                              <div class="card">
                                <div class="card-header p-2">
                                  <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#foro" data-toggle="tab">Foro</a></li>
                                    
                                    {% if request.session.group.name != 'Estudiante'%}
                                    <li class="nav-item"><a class="nav-link " href="#activity" data-toggle="tab">Matrículas</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Alumnos</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Asistencia</a></li>

                                    {% endif %}
                                    <li class="nav-item"><a class="nav-link" href="#deberes" data-toggle="tab">Deberes</a></li>
                                  
                                  </ul>
                                </div><!-- /.card-header -->
                                <div class="card-body">
                                  <div class="tab-content">

                                    <!-- DEBERES -->
                                    <div class="tab-pane active" id="foro">
                                      <div class="post">
                                        <div class="card card-info">
                                          <div class="card-header">
                                            <h5>Crear Puplicación</h4>
                                          </div>
                                          <div class="card-body">
                                            <form class="form" method="post" enctype="multipart/form-data" id="frmMessage"
                                              data-url="{{ list_url }}">

                                              {% csrf_token %}
                                              <div class="row">
                                                {% for field in formPost.visible_fields %}
                                    
                                                <div class="col-md-10">
                                                  
                                                  <div class="form-group">
                                                          {{ field }}
                                                      </div>
                                                </div>
                                                {% endfor %}

                                                <div class="col-md-2">
                                                  <button type="submit" class="btn btn-info">Publicar</button>
                                                </div>
                                              </div>
                                          </form>
                                          </div>
                                        </div>
                                      </div>
                                      {% if post %}
                                      {% for a in post %}
                                      <div class="post">
                                        <div class="user-block">
                                          <img class="img-circle img-bordered-sm" src=" {{a.user.get_image}} " alt="user image">
                                          <span class="username">
                                            <a href="#"> {{ a.username }} </a>
                                            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                          </span>
                                          <span class="description">Publicacion - {{ a.creada_en }} </span>
                                        </div>
                                        <!-- /.user-block -->
                                        <p>
                                          {{ a.publicacion }}
                                        </p>
                                      </div>
                                      {% endfor %}
                                      {% endif %}
                                    </div>
                                    <!-- END DEBERES -->
                                    
                                    <!-- MATRICULA -->
                                    {% if request.session.group.name != 'Estudiante'%}
                                    <div class="tab-pane" id="activity">
                                      <!-- Post -->
                                      <div class="post">
                                        <div class="card card-info">
                                          <form class="form" id="frmForm" method="POST"
                                          data-url="{{ list_url }}">

                                          {% csrf_token %}
                                          <input type="hidden" name="action" id="action" value="{{ action }}">

                                            <div class="card-header">
                                              <h3 class="card-title"> {{titulo}} </h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <div class="card-body">
                                              <!-- form start -->
                                        
                                               
                                                  {% for field in form.visible_fields %}
                                                  <div class="form-group">
                                                          <label><b>{{ field.label }}:</b></label>
                                                          {{ field }}
                                                  </div>
                                                  {% endfor %}
                                                  <input type="text " name="prueba" class="form-control">
                                                  <div class="text-center">
                                                    <button type="submit" class="btn btn-primary btn-flat">
                                                      <i class="fas fa-save" aria-hidden="true"></i> Guardar registro
                                                    </button>
                                                  </div>
                                            </div>
                                          </form>

                                        </div>
                                      </div>
                                      <!-- /.post -->
                                    </div>
                                    {% endif %}
                                    <!-- END MATRICULA -->
                                    
                                    <!-- ESTUDIANTES -->
                                    {% if request.session.group.name != 'Estudiante'%}
                                    <div class="tab-pane" id="timeline">
                                      <div class="timeline timeline-inverse">
                                        <div class="time-label"></div>
                                        {% if count  <= 0 %}
                                        <div class="small-box bg-warning">
                                            <div class="inner">
                                              <p>No hay Alumnos Matriculados</p>
                                            </div>
                                            <div class="icon">
                                              <i class="fas fa-user-plus"></i>
                                            </div>
                                            <a href="#" class="small-box-footer">
                                              Debes Agregar Estudiante 
                                            </a>
                                        </div> 
                                    
                                        {% else %}
                                            <div>
                                              <i class="fa fa-users bg-info"></i>
                                              <div class="timeline-item">
                                                <h3 class="timeline-header border-0"><a href="#">Total de Estudiantes: {{count}} </a> 
                                                </h3>
                                              </div>
                                            </div>
                                            {% for a in matricula %}
                                            <div>
                                              <i class="fas fa-user bg-info"></i>
                                              <div class="timeline-item">
                                                <h3 class="timeline-header border-0"><a href="#">{{a.estudiante.user.last_name}} {{a.estudiante.user.first_name}}</a> 
                                                </h3>
                                              </div>
                                            </div>
                                            {% endfor%}
                                        {% endif%}
                                      </div>  
                                    </div>                                      
                                    {% endif %}
                                    <!-- END ESTUDIANTES -->

                                    <!-- ASISTENCIA -->
                                    {% if request.session.group.name != 'Estudiante'%}
                                    
                                    <div class="tab-pane" id="settings">
                                      <div class="card card-info">
                                        <form class="form" method="post" enctype="multipart/form-data" id="frmAsistencia"
                                    data-url="{{ list_url }}">

                                        <div class="card-header">
                                          <h3 class="card-title"> Asistencia </h3>
                                        </div>
                                        <div class="card-body">

                                          <table class="table">
                                            <thead class="thead-info">
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Nombre</th>
                                                <th scope="col">Apellido</th>
                                                <th scope="col" class="text-center">Asistencia</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {% for l in matricula %}
                                              <tr>
                                                {% csrf_token %}
                                                <input type="hidden" name="action" id="action" value="{{ action }}">
                                                
                                                <th scope="row"> {{ forloop.counter }} </th>
                                                <td> {{ l.estudiante.user.first_name }} </td>
                                                <td>{{ l.estudiante.user.last_name }}</td>
                                                <td class="text-center">
                                                  <input type="checkbox" name="checks[]" value="{{l.estudiante.id}}"> 
                                                </td>
                                              </tr>
                                              {% endfor %}
                                            </tbody>
                                          </table>
                                        </div>
                                        <div class="card-footer">
                                          {% if count > 0 %}
                                          <button type="submit" class="btn btn-primary btn-flat">
                                            <i class="fas fa-save" aria-hidden="true"></i> Guardar registro
                                        </button>
                                        {% endif%}
                                        </div>
                                         </form>

                                      </div>
                                    </div>
                                    {% endif %}
                                    <!-- END ASISTENCIAS -->

                                    <!-- DEBERES -->
                                    {% if request.session.group.name != 'Estudiante'%}
                                    
                                    <div class="tab-pane" id="deberes">
                                      <div class="card card-info">
                                    

                                        <div class="card-header">
                                          <h3 class="card-title"> Deberes </h3>
                                        </div>
                                        <div class="card-body">
                                          <div class="row">
                                              <!-- ADIVINANZA -->
                                            <div class="col-lg-3 col-6">
                                              <!-- small box -->
                                              <div class="small-box bg-info">
                                                <div class="inner">
                                                  <h3>Juego</h3>
                                                  <p>Adivinanza</p>
                                                </div>
                                                <div class="icon">
                                                  <i class="fa fa-gamepad"></i>
                                                </div>
                                                <a id="modalActivate" type="button" class="small-box-footer" data-toggle="modal" data-target="#exampleModalPreview"> Jugar <i class="fas fa-arrow-circle-right"></i></a>
                                              </div>
                                            </div>
                                              <!-- PUZZLE -->
                                            <div class="col-lg-3 col-6">
                                              <div class="small-box bg-info">
                                                <div class="inner">
                                                  <h3>Juego</h3>
                                                  <p>Puzzle Númerico</p>
                                                </div>
                                                <div class="icon">
                                                  <i class="fa fa-gamepad"></i>
                                                </div>
                                                <a id="modalActivate" type="button" class="small-box-footer" data-toggle="modal" data-target="#exampleModalPreview2"> Jugar <i class="fas fa-arrow-circle-right"></i></a>
                                              </div>
                                            </div>
                                             <!-- rompezabezas -->
                                             <div class="col-lg-3 col-6">
                                              <div class="small-box bg-info">
                                                <div class="inner">
                                                  <h3>Juego</h3>
                                                  <p>Encuentra el Tesoro</p>
                                                </div>
                                                <div class="icon">
                                                  <i class="fa fa-gamepad"></i>
                                                </div>
                                                <a id="modalActivate" type="button" class="small-box-footer" data-toggle="modal" data-target="#exampleModalPreview3"> Jugar <i class="fas fa-arrow-circle-right"></i></a>
                                              </div>
                                            </div>
                                             <!-- Números -->
                                             <div class="col-lg-3 col-6">
                                              <div class="small-box bg-info">
                                                <div class="inner">
                                                  <h3>Juego</h3>
                                                  <p>Come Números</p>
                                                </div>
                                                <div class="icon">
                                                  <i class="fa fa-gamepad"></i>
                                                </div>
                                                <a id="modalActivate" type="button" class="small-box-footer" data-toggle="modal" data-target="#exampleModalPreview4"> Jugar <i class="fas fa-arrow-circle-right"></i></a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                       
                                        
                                      </div>
                                    </div>
                                    {% endif %}
                                    <!-- END DEBERES -->


                                    <!-- -->
                                  </div>  
                                </div>
                                    </div>
                                   
                                  </div>
                                  <!-- /.tab-content -->
                                </div><!-- /.card-body -->
                              </div>
                              <!-- /.card -->
    </div>
    
    
<!-- Modal Juego de Memoria -->
<div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
      <div class="modal-content-full-width modal-content ">
          <div class=" modal-header-full-width   modal-header text-center">
              <h5 class="modal-title w-100" id="exampleModalPreviewLabel">Juego del Rompecabezas</h5>
              <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                  <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <div class="home divJuego1 bodyJuego1">
                <div class="container divJuego1 bodyJuego1" style="margin-top:8%">
            
                    <style>
                        :root {
                            --w: calc(70vw / 6);
                            --h: calc(70vh / 4);
                        }

                        * {
                            transition: all 0.5s;
                        }

                        .bodyJuego1 {
                            padding: 0;
                            margin: 0;
                            background: powderblue;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            font-family: calibri;
                        }

                        .divJuego1 {
                            display: inline-block;
                        }

                        .area-tarjeta,
                        .tarjeta,
                        .cara {
                          width: var(--w);
                          cursor: pointer;
                            min-width: 100px;
                            height: var(--h);
                        }

                        .tarjeta {
                            position: relative;
                            transform-style: preserve-3d;
                            animation: iniciar 5s;
                        }

                        .cara {
                            position: absolute;
                            backface-visibility: hidden;
                            box-shadow: inset 0 0 0 5px white;
                            font-size: 500%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .trasera {
                            background-color: lightcyan;
                            transform: rotateY(180deg);
                        }

                        .superior {
                            background: linear-gradient(orange, darkorange);
                        }

                        .nuevo-juego {
                            cursor: pointer;
                            background: linear-gradient(orange, darkorange);
                            padding: 20px;
                            border-radius: 50px;
                            border: white 5px solid;
                            font-size: 130%;
                        }

                        @keyframes iniciar {

                            20%,
                            90% {
                                transform: rotateY(180deg);
                            }

                            0%,
                            100% {
                                transform: rotateY(0deg);
                            }
                        }
                    </style>
                    <div class="container ">
                      <div id="tablero" class="divJuego1 bodyJuego1">
                      </div>
  
                      <br>
  
                      <div class="nuevo-juego divJuego1 bodyJuego1" onclick="generarTablero()">
                          Nuevo Juego
                      </div>
                    </div>
                    
                        <!-- parte lógica -->
                    <script>

                      let iconos = []
                      let selecciones = []

                      generarTablero()

                      function cargarIconos() {
                          iconos = [
                              '<i class="fas fa-star"></i>',
                              '<i class="far fa-star"></i>',
                              '<i class="fas fa-star-of-life"></i>',
                          ]
                      }

                      function generarTablero() {
                          cargarIconos()
                          selecciones = []
                          let tablero = document.getElementById("tablero")
                          let tarjetas = []
                          for (let i = 0; i < 6; i++) {
                              tarjetas.push(`
                              <div class="area-tarjeta divJuego1 bodyJuego1" onclick="seleccionarTarjeta(${i})">
                                  <div class="tarjeta divJuego1 bodyJuego1" id="tarjeta${i}">
                                      <div class="cara trasera divJuego1 bodyJuego1" id="trasera${i}">
                                          ${iconos[0]}
                                      </div>
                                      <div class="cara superior divJuego1 bodyJuego1">
                                          <i class="far fa-question-circle"></i>
                                      </div>
                                  </div>
                              </div>        
                              `)
                              if (i % 2 == 1) {
                                  iconos.splice(0, 1)
                                  console.log("ganaste...")
                                  
                              }
                          }
                          tarjetas.sort(() => Math.random() - 0.5)
                          tablero.innerHTML = tarjetas.join(" ")
                      }

                      function seleccionarTarjeta(i) {
                          let tarjeta = document.getElementById("tarjeta" + i)
                          if (tarjeta.style.transform != "rotateY(180deg)") {
                              tarjeta.style.transform = "rotateY(180deg)"
                              selecciones.push(i)
                          }
                          if (selecciones.length == 2) {
                              deseleccionar(selecciones)
                              selecciones = []
                          }
                      }

                      function deseleccionar(selecciones) {
                          setTimeout(() => {
                              let trasera1 = document.getElementById("trasera" + selecciones[0])
                              let trasera2 = document.getElementById("trasera" + selecciones[1])
                              if (trasera1.innerHTML != trasera2.innerHTML) {
                                  let tarjeta1 = document.getElementById("tarjeta" + selecciones[0])
                                  let tarjeta2 = document.getElementById("tarjeta" + selecciones[1])
                                  tarjeta1.style.transform = "rotateY(0deg)"
                                  tarjeta2.style.transform = "rotateY(0deg)"
                              }else{
                                  trasera1.style.background = "plum"
                                  trasera2.style.background = "plum"
                              }
                          }, 1000);
                      }

                    </script>

                </div>
            	</div>
          </div>
          <div class="modal-footer-full-width  modal-footer">
              <button type="button" class="btn btn-danger btn-md btn-rounded" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-md btn-rounded">Save changes</button>
          </div>
      </div>
  </div>
</div>


<!-- Modal Juego del Puzzle -->
<div class="modal fade right" id="exampleModalPreview2" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
      <div class="modal-content-full-width modal-content ">
          <div class=" modal-header-full-width   modal-header text-center">
              <h5 class="modal-title w-100" id="exampleModalPreviewLabel2">Puzzle Númerico</h5>
              <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                  <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <style>
              .game {
                /* position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); */
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
                padding: 15px;
                background-color: #AA3939;
                border-radius: 5px;
              }

              .grid {
                display: grid;
                grid-template-columns: 80px 80px 80px 80px;
                grid-template-rows: 80px 80px 80px 80px;
                border: 1px solid #550000;
              }

              .grid button {
                background-color: #cfcfcf;
                color: #003333;
                font-size: 24px;
                font-weight: bold;
                border: 1px solid #550000;
                outline: none;
                cursor: pointer;
              }

              .footer {
                margin-top: 15px;
                display: flex;
                justify-content: space-between;
              }

              .footer button {
                border: none;
                font-size: 20px;
                font-weight: bold;
                border-radius: 5px;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
                padding: 5px;
                width: 80px;
                background-color: #D4EE9F;
                color: #003333;
                outline: none;
                cursor: pointer;
              }

              .footer button:hover {
                color: #D4EE9F;
                background-color: #003333;
              }

              .footer span {
                flex: 1;
                text-align: center;
                font-size: 20px;
                color: #D4EE9F;
                font-weight: bold;
                margin: auto 0;
              }

              .message {
                color:#AA3939;
                height: 80px;
              }
            </style>
            
            
            <div class="game">
              <div class="grid">
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>7</button>
                <button>8</button>
                <button>9</button>
                <button>10</button>
                <button>11</button>
                <button>12</button>
                <button>13</button>
                <button>14</button>
                <button>15</button>
                <button></button>
              </div>
        
              <div class="footer">
                <button>Play</button>
                <span id="move">Move: 100</span>
                <span id="time">Time: 100</span>
              </div>
            </div>
            <h1 class="message">Ganaste!</h1>
        
    <script src="{% static 'matricula/js/puzzle.js' %}"></script>
        
          </div>
          <div class="modal-footer-full-width  modal-footer">
              <button type="button" class="btn btn-danger btn-md btn-rounded" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary btn-md btn-rounded">Save changes</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal Juego del Encuentra el tesoro -->
<div class="modal fade right" id="exampleModalPreview3" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
      <div class="modal-content-full-width modal-content ">
          <div class=" modal-header-full-width   modal-header text-center">
              <h5 class="modal-title w-100" id="exampleModalPreviewLabel3">Encuentra el Tesoro</h5>
              <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                  <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-body text-center">
                      <style>

                        .img1 {
                          -webkit-user-select: none;
                          -khtml-user-select: none;
                          -moz-user-select: none;
                          -o-user-select: none;
                          user-select: none;
                        }

                        .p1 {
                          display: block;
                        }

                      </style>
                      <img src="{% static 'matricula/img/treasuremap.png' %}" class="img1 img-fluid" width="400" height="400" id="map" draggable="false">

                      <p id="distance" class="p1"></p>

                      <script src="{% static 'matricula/js/helper.js' %}" charset="utf-8"></script>
                      <script src="{% static 'matricula/js/game.js' %}" charset="utf-8"></script>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer-full-width  modal-footer">
              <button type="button" class="btn btn-danger btn-md btn-rounded" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>


<!-- Modal Juego del número -->
<div class="modal fade right" id="exampleModalPreview4" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
  <div class="modal-dialog-full-width modal-dialog momodel modal-fluid" role="document">
      <div class="modal-content-full-width modal-content ">
          <div class=" modal-header-full-width   modal-header text-center">
              <h5 class="modal-title w-100" id="exampleModalPreviewLabel4">Come Números</h5>
              <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                  <span style="font-size: 1.3em;" aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  
                      <style>
                        .global {
                            margin: 0;
                            padding: 0; 
                            box-sizing: border-box;
                        }
                        .bodyN {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: linear-gradient(to bottom, lightblue, darkblue);
                        }

                        #canvas1 {
                            width: 100%;
                            height: 100%;
                            border: 4px solid black;
                            background: linear-gradient(to bottom, lightblue, darkblue);
                        }

                        
                      </style>
                      <div class="container">

                        <div class="">
                          <container>
                            <canvas id="canvas1"></canvas>
                  
                          </container>
                         
                        </div>
                      </div>

                      <script src="{% static 'matricula/js/juegofinal.js' %}"></script>
                    
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer-full-width  modal-footer">
              <button type="button" class="btn btn-danger btn-md btn-rounded" data-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>

        {% block box_footer_after %}{% endblock %}
    {% block javascript_list %}
        <script type="application/javascript">
            var table;
            $(function () {
                table = $('#data').DataTable({
                    responsive: true,
                    autoWidth: false,
                    destroy: true,
                    initComplete: function (settings, json) {

                    }
                });

                $('.table')
                    .on('draw', function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    })
                    .on('click', 'img', function () {
                        var src = $(this).attr('src');
                        load_image(src);
                    });
            });
        </script>

      

    {% endblock %}
{% endblock %}
